.DS_Store
.metals/metals.lock.db
.metals/metals.log
.vscode/settings.json
.metals/metals.mv.db
.metals/.reports/metals-full/r_compiler-error_1690697099753
.metals/.reports/metals-full/r_compiler-error_1690836200739
.metals/.reports/metals-full/r_compiler-error_1690836282653
iFu/generated_src
