.DS_Store
.metals/metals.lock.db
.metals/metals.log
.vscode/settings.json
iFu/generated_src
iFu/nscscc-la/vsrc/pipeline/iFuCore.sv
.idea/iFu.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/codeStyles/codeStyleConfig.xml
.idea/codeStyles/Project.xml
.metals/metals.mv.db
.metals/.reports/metals-full/2023-09-19/r_compiler-error_17-22-23-611
.vscode/c_cpp_properties.json
iFu/nscscc-la/vsrc/pipeline/iFuCore.anno.json
iFu/nscscc-la/vsrc/pipeline/iFuCore.fir
